# Gradle
.gradle/
build/
*/build/

# Local configuration
local.properties

# IntelliJ / Android Studio
*.iml
.idea/caches/
.idea/workspace.xml
.idea/deploymentTargetSelector.xml
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml

# Native build outputs
.externalNativeBuild/
.cxx/

# Captures
captures/
